
h1{	
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
}

@media(max-width: 712px)
{
	h1{
		text-decoration: none;
	}
	
	#hypen{
		visibility: hidden;
	}
}

h2{
	font-weight: bold;
	color: #80bacc;
}

hr{
	border-top-color: #b1b1b1;
}

pre strong{
	color: #da4444;
}

#downloads h3{

}

#latest{
	text-align: center;
}

#latest h2{
	color: #58b158;
}

#latest .btn{
	margin-bottom: 10px;
	font-size: 14pt;
}

#install h3{
	text-decoration: underline;
	font-size: 14pt;
}

#install ol li{
	font-size: 13pt;
}

#credits{
	text-align: center;
}

#downloads .btn{
	width: 75%;
	display: block;
	
	margin-bottom: 10px;
	target-name: new;
}

@media(max-width: 550px)
{
	#downloads .btn{
		width: 100%;
	}
}

#downloads a{
	color: white;
	font-weight: bold;
}

#downloads .row{
	padding: 0px 15px;
}

ul{
	padding-left: 0px;
}

ul li{
	list-style-type: none;
}

#download-file{
	width: 100%;
	margin-top: 0px;
}

#file-download .btn{
	margin-left: 25px;
	margin-bottom: 10px;
}

#file-download h1{
	text-decoration: none;
}

#file-download p{
	text-align: center;
}

#file-download .col-xl-4, #file-download .col-lg-5,  #file-download .col-md-7, #file-download .col-xs-11{
	margin: auto;
	float: none;
	border: 2px solid #d3655f;
	border-radius: 6px;
}

#download-file a{
	font-size: 16pt;
	text-align: center;
	margin: auto;
	display: block;
}