h1{
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
}

.mobs img{
	width: 100%;
	margin: auto;
	display: block;
}

.mobs h2{
	font-weight: bold;
}

.mobs div{
	margin-bottom: 20px;
}

.mobs .h{
	color: #d3655f;
}

.mobs .n{
	color: #4CAAC9
}

.mobs .p{
	color: #6CB83A
}