h1{
	font-weight: bold;
}

h3{
	text-align: center;
}

p{
	margin-top: 5px;
	text-align: center;
}

#recipes img{
	display: block;
	margin: auto;
	width: 100%;
}

#recipes hr{
	border-top: 2px solid #333333;
	margin-top: 0px;
}